* {
	margin: 0;
	padding: 0;
	/*box-sizing: border-box;*/
	position: relative;
	font-family: 'Century Gothic';
}

:root {
	/* We don't render anything in the screen (other than the background) more than this width */
	--content-width: 96.5%;

	--header-footer-container-height: 8.9vh;

	--main-container-height: calc(100vh - 2 * var(--header-footer-container-height));

	/* Yellow color that appears as part of the background of the index */
	--index-yellow: #ec7700;

	/* Colors for the manifestations */
	--red-manifestation: #cd3201;
	--purple-manifestation: #9a32cc;
	--green-manifestation: #339933;
	--gray-manifestation: #999999;
	--blue-manifestation: #0098ca;
	--burgundy-manifestation: #660001;
	--orange-manifestation: #cc6601;
	--ocher-manifestation: #cc9900;

	/* Shadow for letters, when we only want to make them look thicker without bolding them */
	--sneaky-shadow: 1px 0px 0px;
}

html {
	font-size: 62.5%;
}	

.whole {
	width: 100%;
	height: 100%;
	position: relative;
}

.centeredFlex, .centeredFlex a{
	display: flex;
	justify-content: center;
	align-items: center;
}

body {
	display: flex;
	flex-direction: column;
	background-image: url("../img/background.jpg");
}

.header {
	width: 100%; 
	height: var(--header-footer-container-height); 
}

/* It's the red box with rounded borders that appears on the header and the footer */
.headerFooterBackground{
	flex-direction: row;
	border-radius: 10px;
	background: #780000;
	width: var(--content-width);
	height: 75%;
	color: #f9efec;
}

main {
	width: var(--content-width);
	height: var(--main-container-height);
}

/* ------------ FORMAT SHARED BY THE MANIFESTATIONS VIEW AND THE PUZZLE GAME --------------- */
#manifestation-viewAndGame-container{
	height: 100%; 
	flex-direction: column; 
	justify-content: flex-start;
}
#manifestation-viewAndGame-container > div, #manifestation-viewAndGame-container > img{
	width: 100%;
}
/* Top of the manifestation image */
#manifestation-viewAndGame-container > div:first-child{
	height: 14.3%;
	display: flex; 
	flex-direction: row; 
	justify-content: space-between; 
	align-items: center;
}
/* Manifestation image */
#manifestation-image{
	height: 65%; 
}
/* Bottom of the manifestation image */
#manifestation-image + div{
	height: 20.7%;
}
/* ------------ END OF FORMAT FOR THE MANIFESTATIONS PREVIEW AND THE PUZZLE GAME --------------- */

/* For the description that is below the image in the manifestation view*/
#manifestation-description span, #magnified-description span{
	font-style: italic;
	font-weight: bold;
}

/* Shared properties by the sliding cells of the puzzle game */
.slidingCell{
    margin: 0%;
    padding: 0%;
    position: absolute;  
}

.footer{
	bottom: 0px;
	width: 100%;
	height: var(--header-footer-container-height);
}

/* This inculdes the index-view, and an empty space (transparent) in which the user can click
   to close the index*/
#index-view-container {
	height: 100%;
	position: fixed;
	z-index: 3;
	top: 0;
	left: 0;
	overflow-x: hidden;
	transition: 0.5s;
}

/* This is the visible part of the index (the drawer navigator) that is opened with the hamburger menu*/
#index-view {
	height: 100%;
	flex-grow: 1; /* It fills the remaining empty space */
	background-image: url("../img/backgroundIndex.png");
	border-right-color: white;
	border-right-width: 2px;
	border-right-style: solid;
	flex-direction:column;
	align-items: center;
}

/* This includes the modal-view, and an empty space (transparent) in which the user can click
   to close the modal*/
#game-modal-container {
	position: absolute;
	z-index: 1;
	top: 0;
	left: 0;
	overflow-x: hidden;
}

/* For the english/spanish buttons that appear on the language menu of the index*/
.index-language_icon{
	position:absolute; 
	height: 70%;
}
.index-language_icon:hover{
	height: 80%;
}

@font-face {
	font-family: Epistolar;
	src: url(../ttf/EPISTOLAR.ttf);
}