/* We don't want to display anything that is marked only for narrow */
.narrowOnly{
	display: none;
}

/* ------------------- FORMAT FOR THE HEADER -------------------- */

#hamburger-menu{
	width: 20%;
}

/* The part that says "EDUCATIONAL SLIDING PUZZLE" */
#header-label{
	width: 45%;
	text-align: center;
	font-family: 'Epistolar';
	font-size: 2.2vh;

	/* This is for a text to be bigger but not the font-size, just streched (width, height)*/
	transform:scale(1.5,1);
}

/* The two lateral sides of the header-label, in one of which is the hamburger menu */
.header-side{
	width: 27.5%;
	height: 100%;
}
.header-side span{
	width: 12%;
}

/* Menu in which the user can change the language of the app */
#languageMenu{
	min-width: 20%; 
	height: 100%; 
	display: flex; 
	justify-content: flex-end;
}
#languageMenu div, #languageMenu a{
	width: 25%;
}

/* For the english/spanish buttons that appear on the language menu */
.language_icon{
	position:absolute; 
	height: 70%;
}
.language_icon:hover{
	height: 80%;
}

/* ------------------- END OF FORMAT FOR THE HEADER -------------------- */

/* ------------------- FORMAT FOR THE FRONT PAGE -------------------- */
#frontPage-title {
	width: 55%;
	height: 47%;
}

#frontPage-hand {
	height: 18%;
	left: 80%;
	bottom: 6%;
}
#frontPage-hand:hover{
	height: 19%;
}
/* ------------------- END OF FORMAT FOR THE FRONT PAGE -------------------- */

#relatedToApp{
	height: 90%;
	width: 70%;
}

/* ------------------- FORMAT FOR THE MANIFESTATIONS MENU -------------------- */
#chooseManifestation-label{
	height: 30%;
	width: 65%;
}

.manifestationsMenu-button{
	height: 5.8%;
	width: 42%;
	font-size: 2.4vh;
	border-radius: 5px;

	/* This is for a text to be bigger but not the font-size, just streched (width, height)*/
	transform:scale(1.4,1);
}
/* ------------------- END OF FORMAT FOR THE MANIFESTATIONS MENU -------------------- */


/* ------------------- FORMAT FOR THE MANIFESTATIONS PREVIEW -------------------- */
#manifestation-view-container{
	width: 81%;
}

#manifestation-minimap{
	width: 25%;
}

#manifestation-description{
	width: 99%;
	font-size: 1.8vh;
	text-shadow: var(--sneaky-shadow);
}

#manifestation-label{
	font-size: 1.8vh;
	text-shadow: var(--sneaky-shadow);

	/* This is for a text to be smaller but not the font-size, just streched (width, height)*/
	transform:scale(1,0.75);
}
#manifestation-label span{
	font-size: 2.3vh;
	font-weight: bold;
}

#magnified-map-image{
	width: 100%;
	height: 90%;
}

#magnified-description{
	width: 60%;
	font-size: 2.6vh;
	text-shadow: var(--sneaky-shadow);

	/* This is for a text to be bigger but not the font-size, just streched (width, height)*/
	transform:scale(1.2,1);
}
/* ------------------- END OF FORMAT FOR THE MANIFESTATIONS PREVIEW -------------------- */

#exitView{
	width: 65%;
	height: 58%;
}

/* ------------------- FORMAT FOR THE FOOTER -------------------- */

/* The part that says "All rights reserved. ©FUNDABITAT, 2022" */
#footer-label{
	font-size: 1.8vw; 
}

.footer_icon{
	position: absolute;
	width: 25%;
	height: 60%;
}
.footer_icon:hover{
	height: 70%;
}
/* ------------------- END OF FORMAT FOR THE FOOTER -------------------- */


/* ------------------- FORMAT FOR THE INDEX ---------------------- */

/* Transparent part whose purpose is that the user can close the index by touching or clicking it */
#index-empty{
	width: 30%;
}

/* Space so that the close button does not appear at the end */
#index-header-space{
	width: 2%;
}

/* X button to close the index */
#index-closeX{
	width: 7%;
}

/* Same title that appears on the front page */
#index-title {
	width: 60%;
	height: 90%;
}

/* The part that says "EDUCATIONAL SLIDING PUZZLE" */
#index-label{
	text-align: center;
	font-family: 'Epistolar';
	font-size: 2.2vh;

	/* This is for a text to be bigger but not the font-size, just streched (width, height)*/
	transform:scale(1.4,1);
}

#index-hand {
	height: 21%;
	width: 16%;
	top: 2%;
	left: 10%;
}

.index-clickableText{
	font-size: 2.6vh;
	
	/* This is for a text to be bigger but not the font-size, just streched (width, height)*/
	transform:scale(1.6,1);
}
.index-clickableText:hover{
	cursor: default;
}

/* Menu in which the user can change the language of the app */
#index-languageMenu{
	width: 15%; 
	height: 100%; 
	display: flex; 
	justify-content: space-between;
}
#index-languageMenu div, #index-languageMenu a{
	width: 13%;
}
/* ------------------- END OF FORMAT FOR THE INDEX -------------------- */
