/* As long as possible, we will try to not put this class into the necessary html element
   but putting "display:none" in the corresponding class in this file */
.webOnly{
	display: none;
}

/* ------------------- FORMAT FOR THE HEADER -------------------- */

/* It's the red box with rounded borders that appears on the header and the footer */
.headerFooterBackground{
	flex-direction: row;
	border-radius: 10px;
	background: #670001;
	width: 96.5%;
	height: 70%;
	color: #f9efec;
}

#hamburger-menu{
	width: 35%;
}

/* The part that says "EDUCATIONAL SLIDING PUZZLE" */
#header-label{
	width: 50%;
	height: 50%;
}

/* The two lateral sides of the header-label, in one of which is the hamburger menu */
.header-side{
	width: 25%;
	height: 100%;
}
.header-side span{
	width: 20%;
}

/* Menu in which the user can change the language of the app */
#languageMenu{
	min-width: 20%; 
	height: 100%; 
	display: flex; 
	justify-content: flex-end;
}
#languageMenu div, #languageMenu a{
	width: 38%;
}

/* For the english/spanish buttons that appear on the language menu */
.language_icon{
	position:absolute; 
	height: 60%;
}
.language_icon:hover{
	height: 70%;
}

/* ------------------- END OF FORMAT FOR THE HEADER -------------------- */

#frontPage-title {
	width: 75%;
	height: 35%;
}

#frontPage-hand {
	height: 13%;
	left: 70%;
	bottom: 6%;
}
#frontPage-hand:hover{
	height: 14%;
}
/* ------------------- END OF FORMAT FOR THE FRONT PAGE -------------------- */

#relatedToApp{
	height: 90%;
	width: 95%;
}

/*For the two red borders of the whole view, with vertical text*/
.viewBorder{
	display: none;
}

/* For the images (not the slider figures) that appear on the center of the main-background */
.central_img{
	height: 100%;
	width: 84%;
	flex-grow: 1; /* This makes it fill the container when there are not img-sides */
}

/* For the two spaces that are on the side of the "img" div */
.img-side{
	position: relative;
	width: 8%;
	height: 100%;
	display: flex;
	justify-content: center;
	padding-bottom: 2vh;
}

/*For the menus that may appear on the left and/or the right of the view*/
.columnMenu{
	display: none;
}

.whiteBackground_blackBorder{
	border-radius: 15px;
	border-style: solid;
	border-color: black;
	background: white;
	padding: 2%;
	border-width: 3px;
}

/* ------------- FORMAT FOR BUTTONS THAT DISPLAY ON LATERAL MENUS ------------ */

/*Buttons that display the different main views */
.mainMenuButton{
	background-size: cover;
	width: 100%;
	height: 6.5vh;
	outline: none;
	font-family: 'FontRupes'; 
	font-size: 2vw;
}

/*Text of a lateral menu button*/
.text_mb{
	color: white;
	font-weight: lighter;
	font-size: 1.65vmax;
}

/*Subclass of mainMenuButton*/
.darkRed_mb{
	background-image: url('../img/button/button_darkred.png');
}

/*Subclass of mainMenuButton*/
.red_mb{
	background-image: url('../img/button/button_red.png');
}

/*Subclass of mainMenuButton*/
.gray_mb{
	background-image: url('../img/button/button_gray.png');
}

/*Subclass of mainMenuButton*/
.orange_mb{
	background-image: url('../img/button/button_orange.png');
}

/* ------------- END OF FORMAT FOR BUTTONS THAT DISPLAY ON LATERAL MENUS ------------ */


/* Large texts of definitions of Petroglyphs and Rock Paintings */
#definition{
	width: 95%; 
	font-family: 'FontTexto'; 
	font-size: 0.9vmax;
}

/* Description that appears above a slider figure */
#figureDesc{
	font-size: 1.7vw; 
	width: 97%;
}

/* Kind of a slider figure (e.g. Anthropomorphic) */
#figureKind{
	font-size: 4.5vw;
}

/* Label that has information related to a figure, like its name, location, etc. */
#figureRotulo{
	width: 100%; 
	padding-left: 75%; 
	padding-bottom: 5%;
	font-size: 2.5vw;
}

/* Each of the three parts of the slider figure */
.figureSection{
	width: 100%;
}

.arrowContainer{
	display: none;
}

/* ------------- FORMAT FOR ELEMENTS RELATED TO THE QUIZ ------------ */

/* Format of a question that is not the last one */
#normalQuestion{
	font-size: 1.9vw;
}

/* Format of a possible answer of a question that is not the last one */
.normalQAnswer{
	padding-left: 10px; 
	font-size: 1.9vw; 
	font-family: 'FontTexto';
}

/* Button in which the user selects an option for an answer */
input[type=radio] {
	width: 10px;
	height:10px;
}

/* Description of the last question. It also appears above a slider figure */
#lastQDesc{
	max-height: 85%;
}
#lastQDesc p{
	font-size: 1.2vmax;
}

/* Box of choosable options in the last question */
#kind_rotulos select{
	font-size: 2.4vmin;
	width: 38%;
}

/* The two sides of the box of the choosable options */
#kind_rotulos div{
	width: 31%;
	padding-bottom: 10%;
}

/* It appears in the last question of the quiz */
#finishButton{
	border-radius: 8px;
	border-style: solid;
	border-color: black;
	background: #ed1c24; /*Similar to red*/
	padding: 7%;
	cursor: default;
	color: black;
	font-size: 2vmin;
}

/* ------------- END OF FORMAT FOR ELEMENTS RELATED TO THE QUIZ ------------ */


/* ------------- FORMAT FOR ELEMENTS RELATED TO SENDING THE EMAIL ------------ */

#sendEmailDesc{
	font-size: 3.2vh;
}

/* For the text input boxes that are used to enter the send email fields*/
.emailInput{
	width: 90%; 
}
.emailInput label{
	font-size: 2vh; 
}
.emailInput input{
	height: 28%; 
	width: 100%; 
	font-size: 2vh; 
	padding-left: 5px; 
	padding-right: 5px;
}

#sendEmailButton{
	border-radius: 8px;
	border-style: solid;
	border-color: black;
	background: #4285F4; /*Blue color used by Google*/
	padding: 9%;
	cursor: default;
	color: black;
}
#sendEmailButton p{
	font-size: 2.2vh; 
}

/* ------------- END OF FORMAT FOR ELEMENTS RELATED TO SENDING THE EMAIL ------------ */


/* ------------- FORMAT FOR SHOWING THE QUIZ RESULTS ------------ */

#results-container {
	min-width: 70%;
	max-width: 80%; 
	min-height: 50%;
	max-height: 70%;
	font-size: 2.5vh;
}

#results-title{
	font-size: 4vh; 
}

/* Try again and Back to main menu */
.results_clickableText:hover{
	font-weight: bold; 
	font-size: 2.6vh;
}

/* ------------- END OF FORMAT FOR SHOWING THE QUIZ RESULTS ------------ */


/* ------------------- FORMAT FOR THE FOOTER -------------------- */

/* The part that says "All rights reserved. ©FUNDABITAT, 2022" */
#footer-label{
	font-size: 1.7vh; 
}

.footer_icon{
	position: absolute;
	width: 32%;
	height: 55%;
}
.footer_icon:hover{
	height: 65%;
}
/* ------------------- END OF FORMAT FOR THE FOOTER -------------------- */