/* We don't want to display anything that is marked only for narrow */
.narrowOnly{
	display: none;
}

/* ------------------- FORMAT FOR THE HEADER -------------------- */

#hamburger-menu{
	width: 12%;
}

/* The part that says "EDUCATIONAL SLIDING PUZZLE" */
#header-label{
	width: 35%;
	text-align: center;
	font-family: 'Epistolar';
	font-size: 1.5vw;

	/* This is for a text to be bigger but not the font-size, just streched (width, height)*/
	transform:scale(1.5,1);
}

/* The two lateral sides of the header-label, in one of which is the hamburger menu */
.header-side{
	width: 32.5%;
	height: 100%;
}
.header-side span{
	width: 12%;
}

/* Menu in which the user can change the language of the app */
#languageMenu{
	min-width: 26%; 
	height: 100%; 
	display: flex; 
	justify-content: flex-end;
}
#languageMenu div, #languageMenu a{
	width: 13%;
}

/* For the english/spanish buttons that appear on the language menu */
.language_icon{
	position:absolute; 
	height: 70%;
}
.language_icon:hover{
	height: 80%;
}

/* ------------------- END OF FORMAT FOR THE HEADER -------------------- */

/* ------------------- FORMAT FOR THE FRONT PAGE -------------------- */
#frontPage-title {
	width: 45%;
	height: 55%;
}

#frontPage-hand {
	height: 20%;
	left: 80%;
	bottom: 6%;
}
#frontPage-hand:hover{
	height: 21%;
}
/* ------------------- END OF FORMAT FOR THE FRONT PAGE -------------------- */

/* For the images with text that represent the Presentation and Instructions views */
#relatedToApp{
	height: 90%;
	width: 40%;
}

/* ------------------- FORMAT FOR THE MANIFESTATIONS MENU -------------------- */
#chooseManifestation-label{
	height: 33%;
	width: 50%;
}

.manifestationsMenu-button{
	height: 5.9%;
	width: 27.5%;
	font-size: 2.7vh;
	border-radius: 5.5px;

	/* This is for a text to be bigger but not the font-size, just streched (width, height)*/
	transform:scale(1.4,1);
}
/* ------------------- END OF FORMAT FOR THE MANIFESTATIONS MENU -------------------- */

#manifestation-viewAndGame-container{
	width: 65%;
}

/* ------------------- FORMAT FOR THE MANIFESTATIONS VIEW -------------------- */
#manifestation-minimap{
	width: 20%;
}

#manifestation-description{
	width: 82.5%;
	font-size: 1.11vw;
	text-shadow: var(--sneaky-shadow);

	/* This is for a text to be bigger but not the font-size, just streched (width, height)*/
	transform:scale(1.2,1);
}

#manifestation-label{
	font-size: 2.2vh;
	text-shadow: var(--sneaky-shadow);

	/* This is for a text to be smaller but not the font-size, just streched (width, height)*/
	transform:scale(1,0.75);
}
#manifestation-label span{
	font-size: 2.8vh;
	font-weight: bold;
}

#magnified-map-image{
	width: 100%;
	height: 100%;
}

#magnified-description{
	width: 60%;
	font-size: 3.2vh;
	text-shadow: var(--sneaky-shadow);

	/* This is for a text to be bigger but not the font-size, just streched (width, height)*/
	transform:scale(1.2,1);
}
/* ------------------- END OF FORMAT FOR THE MANIFESTATIONS VIEW -------------------- */

#exitView{
	width: 50%;
	height: 60%;
}

/* ------------------- FORMAT FOR THE FOOTER -------------------- */

/* The part that says "All rights reserved. ©FUNDABITAT, 2022" */
#footer-label{
	font-size: 2.3vmin; 
}

.footer_icon{
	position: absolute;
	width: 18%;
	height: 60%;
}
.footer_icon:hover{
	height: 70%;
}
/* ------------------- END OF FORMAT FOR THE FOOTER -------------------- */


/* ------------------- FORMAT FOR THE INDEX ---------------------- */

/* Transparent part whose purpose is that the user can close the index by touching or clicking it */
#index-empty{
	width: 35%;
}

/* Space so that the close button does not appear at the end */
#index-header-space{
	width: 2%;
}

/* X button to close the index */
#index-closeX{
	width: 4.5%;
}

/* Same title that appears on the front page */
#index-title {
	width: 45%;
	height: 90%;
}

/* The part that says "EDUCATIONAL SLIDING PUZZLE" */
#index-label{
	text-align: center;
	font-family: 'Epistolar';
	font-size: 1.4vw;

	/* This is for a text to be bigger but not the font-size, just streched (width, height)*/
	transform:scale(1.6,1);
}

#index-hand {
	height: 30%;
	width: 12%;
	top: 2%;
	left: 10%;
}

.index-clickableText{
	font-size: 3vh;
	
	/* This is for a text to be bigger but not the font-size, just streched (width, height)*/
	transform:scale(1.9,1);
}
.index-clickableText:hover{
	cursor: default;
}

/* Menu in which the user can change the language of the app */
#index-languageMenu{
	width: 10%; 
	height: 100%; 
	display: flex; 
	justify-content: space-between;
}
#index-languageMenu div, #index-languageMenu a{
	width: 13%;
}
/* ------------------- END OF FORMAT FOR THE INDEX -------------------- */