<?xml version='1.0' encoding='utf-8'?>
<widget id="com.phonegap.puzzle" version="1.0.0">
    <name>Puzzle</name>
    <description>
        Aplicación educativa sobre arte rupestre en Venezuela
    </description>
    <author email="alexanderstower@gmail.com">
        Desarrollador
    </author>
    <content src="index.html" />
    <preference name="DisallowOverscroll" value="true" />
    <preference name="android-minSdkVersion" value="10" />
    <preference name="android-targetSdkVersion" value="10" />
    <preference name="orientation" value="portrait" />
    <icon src="icon.png" />
</widget>
