/*
 *    Universidad Simón Bolívar
 *    Tutora Académica: Angela Di Serio
 *    Representante de la Comunidad y diseñadora: Ruby de Valencia
 *    Programador: Georvic Tur (12-11402)
 *    
 *    Proyecto de Servicio Comunitario
 *        Puzzles Deslizantes Educativos: Manifestaciones Rupestres Venezolanas
*/

*{margin: 0;padding: 0}

html, body {
    font-family: 'Century Gothic', CenturyGothic, AppleGothic, sans-serif;
    background: #FFB38C;
    background-image:url("../img/Fondo---Textura.png");
    color: #961907;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
    position: relative;
    overflow: hidden;
    width: 100%;
    height:100%;
}


header p{
    font-family: 'Century Gothic', CenturyGothic, AppleGothic, sans-serif;
    font-size: 20px;
    margin: 15px auto;}


#tablero {
    background-color: rgba(105, 44, 44, 0.2);
}


.celda{
    outline: 1px solid #961907;
    font-family: Arial;
    font-weight: bold;
    font-size: 0px;
    line-height: 100px;
    text-align: center;
    color:#fff;
}



#vista-salir {
    z-index: 2;
}



#vista-presentacion {
    height: 100%; 
    width: 100%; 
    position: fixed;
    z-index:2;
    display:none;
    background-image:url("../img/Fondo---Textura.png");
    overflow-y: scroll;
}

#vista-presentacion p {
    padding : 10%;
    text-align: center;
    font-size: 150%;  
}

#vista-instrucciones {
    height: 100%; 
    width: 100%; 
    position: fixed;
    z-index:2;
    display:none;
    background-image:url("../img/Fondo---Textura.png");
    overflow-y: scroll;
}

#vista-instrucciones p {
    padding : 10%;
    text-align: center;
    font-size: 150%;   
}

#area_inter {
    display: none;
    position: absolute;;
    left: 0px;
    top: 0px;
    width: 20px;
    height: 20px;
    z-index: 2;
    background-color: white;
    opacity: 0.5;
}


/*Vista del Menu Principal*/
#vista-indice {
    height: 100%; 
    width: 80%; 
    position: fixed;
    z-index: 2;
    top: 0;
    left: 0;
    overflow-x: hidden;
    transition: 0.5s;
}

#vista-indice a {
    z-index: 2;
}

#vista-indice .closebtn {
    position: absolute;
    top: 0;
}